:root {
  --primary-color: #252525;
  --secondary-color: #cccccc;
}

* {
  color: var(--primary-color);
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 85vw;
  margin: auto;
}

input {
  padding: 1em;
  border: 1px solid #252525;
  border-radius: 5px;
  font-size: 1rem;
}

.emoji-list {
  line-height: 2;
}

.emoji {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.emoji:hover {
  background-color: var(--secondary-color);
}
